<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
">


     <!--组件扫描器-->
    <context:component-scan base-package="com.web.controller"/>

    <!--视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--启动注解驱动,配置处理器映射器和处理器适配器,同时底层默认以json格式响应数据-->
    <mvc:annotation-driven/>

    <!--释放静态资源方式一-->
    <!--<mvc:resources mapping="" location=""/>-->

    <!--释放静态资源方式二-->
    <mvc:default-servlet-handler/>

    <!--配置文件上传解析器-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="defaultEncoding" value="utf-8"/>-->
        <!--<property name="maxUploadSizePerFile" value="500000000"/>-->
        <!--<property name="maxUploadSize" value="500000000"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;配置拦截器&ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash;第一个拦截器&ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<bean class="com.web.interceptor.MyInterceptor1"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!--&lt;!&ndash;配置异常处理器 springMVC框架提供&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
        <!--&lt;!&ndash;默认出异常跳转的视图&ndash;&gt;-->
        <!--<property name="defaultErrorView" value="error"/>-->
        <!--<property name="exceptionMappings" >-->
            <!--&lt;!&ndash;指定其他类型的异常跳转的视图名称&ndash;&gt;-->
            <!--<map>-->
                <!--<entry key="java.lang.ClassCastException" value="error"/>-->
                <!--<entry key="java.lang.NullPointerException" value="error"/>-->
                <!--<entry key="java.lang.IndexOutOfBoundsException" value="error"/>-->
                <!--<entry key="java.lang.ClassCastException" value="error"/>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

    <!--开启自定义异常处理器-->
    <!--<bean id="myException" class="com.web.exception.MyException"/>-->
</beans>